* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: rgb(234, 226, 211);
}

.home__header {
  padding: 3%;
  font-size: 2rem;
  font-weight: 500;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.styles__ale,
.styles__stouts,
.styles__red-ale {
  height: 100%;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  border: 3px solid rgb(41, 35, 35);
  text-decoration: none;
  color: rgba(41, 35, 35, 0);
  overflow: hidden;
}

.img__container {
  position: relative;
}

.styles__name {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.styles__ale:hover > .styles__name,
.styles__stouts:hover > .styles__name,
.styles__red-ale:hover > .styles__name {
  transition: 0.7s ease-in-out;
  width: 33.3%;
  background: rgba(234, 226, 211, 0.459);
  color: rgb(41, 35, 35);
  height: 100%;
}

.styles__img {
  height: 100%;
}

.home__header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 3px solid rgb(41, 35, 35);
  align-items: center;
}

.navbar__list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
}

.navbar__item {
  text-decoration: none;
  color: rgb(41, 35, 35);
  font-size: 1.2rem;
  font-weight: bolder;
  letter-spacing: 0.1rem;
}

.navbar__item:hover {
  color: rgb(118, 104, 104);
}

.beers:hover {
  background: rgb(247, 241, 229);
}

.error__msg {
  padding: 5%;
  font-size: 4rem;
}

.beers {
  display: flex;
  flex-direction: row;
  padding: 2%;
  border: 2px solid rgb(41, 35, 35);
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.beer__single {
  padding: 2%;
  border-bottom: 2px solid black;
}

.data {
  display: flex;
  align-items: center;
  color: black;
}

.data__number {
  font-weight: 800;
  font-size: 4rem;
  display: flex;
  align-items: center;
}

.data__name {
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  padding-left: 20px;
  transform: translateY(10px);
}

.single-beer {
  display: flex;
  width: 90%;
  height: 90%;
  margin: 2%;
}

.single-beer__title {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  padding: 2%;
  height: auto;
}

.information-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 3%;
}

.information-section__price {
  padding: 5%;
  font-size: 2rem;
  font-weight: 600;
}

.list-img {
  width: auto;
}
